# don't rely on it, it is an exmaple of how the .env file (you will create) should include
SECRET="tU0n5P1kUKv7MV2jafd+DfZfbSblLdxcElzgqHTofPQ="
HOST="machinehost"
PORT=1111 # any free part
AUTH_ENABLED=true
LOADGEN_API_KEY="key-to-use-in-auth"